html
{
    font-size: 1em;
    color:white;
}

.card
{
    background-color: rgb(30, 30, 30);
    padding:3px 6px 3px 10px;
    margin:5px;
}

.card .description {
    font-size: 0.8em;
}

.flex
{
    display: flex;
}

.flex input
{
    flex-grow: 2;
}

.flex button
{
    flex-basis: auto;
}

.card-update-form button,
.card-update-form input,
.card-update-form textarea
{
    margin:2px 0;
}

.card-update-form textarea
{
    width:100%;
    resize:vertical;
}

.scrumboard-list
{
    margin: 5px;
    padding:10px;
    background-color: rgb(0, 80, 160);
    border: 2px solid white;
    display: inline-block;
    float:left;

}

.scrumboard-list ul
{
    list-style: none;
}

.scrumboard-list h3
{
    padding-left: 5px;
}

.login-error-msg
{
    color:red;
    font-size:0.8em;
    padding:5px;
}

.logout-btn
{
    padding:2px;
    color: red;
}