{% load staticfiles %}

<html lang="en">
    <head>
        <title>Scrumboard</title>
        <link rel="stylesheet" type="text/css" href="{% static "scrumboard/css/scrumboard.css" %}" />
    </head>

    <body ng-app="scrumboard.demo">

        {% verbatim %}

        <div ng-controller="ScrumboardController">

            <!-- login & logout -->
            <button ng-click="login();">Login</button>
            <a href="/auth_api/logout">Logout</a>


            <div ng-repeat="list in data" class="scrumboard-list">
                <h3>{{ list.name }}</h3>
                    <ul>
                        <li ng-repeat="card in list.cards">
                        <scrumboard-card></scrumboard-card>
                        <!-- Card HTML Here -->
                        </li>
                    </ul>
                <label>title:</label>
                <input type="text"  ng-model="new_title" />
                <label>description</label>
                <input type="text" ng-model="new_description" />

                <button ng-click="add(list, new_title, new_description);">add card</button>
            </div>
        </div>

        {% endverbatim %}

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="{% static "scrumboard/scripts/scrumboard.js" %}"></script>
        <script src="{% static "scrumboard/scripts/card.directive.js" %}"></script>
        <script src="{% static "scrumboard/scripts/scrumboard.config.js" %}"></script>
    </body>
</html>
